{% extends 'back/base.html.twig' %}

{% block head %}
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
		<link rel="icon" type="image/png" href="./assets/img/favicon.png">
		{% block title %}
			{{ page_title }}
		{% endblock %}
		{% block css %}
			<!--     Fonts and icons     -->
			<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
			<!-- Nucleo Icons -->
			<link href="./assets/css/nucleo-icons.css" rel="stylesheet"/>
			<link
			href="./assets/css/nucleo-svg.css" rel="stylesheet"/>
			<!-- Font Awesome Icons -->
			<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
			<link
			href="./assets/css/nucleo-svg.css" rel="stylesheet"/>
			<!-- CSS Files -->
			<link id="pagestyle" href="./assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet"/>
		{% endblock %}
	</head>
{% endblock %}

{% block body %}

	<div class="row py-3 gap-3">
		{% for offer in offers %}
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="{{offer.src}}" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">{{offer.title}}</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Read more</a>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
